.card {
  border: 1px solid black;
  width: 111px;
  height: 162px;
  background-color: white;
}

.table {
  background-color: #00FF00;
}

.center {
    margin: auto;
    width: 111px;
    height: 162px;
    border: 3px solid black;
    padding: 10px;
}

.right {
    position: absolute;
    right: 0px;
    width: 111px;
    height: 162px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.left {
    position: absolute;
    left: 0px;
    width: 111px;
    height: 162px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.inner_right {
    position: absolute;
    right: 300px;
    width: 111px;
    height: 162px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.inner_left {
    position: absolute;
    left: 300px;
    width: 111px;
    height: 162px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.end_round {
  position: absolute;
  border: 3px solid black;
}
